*{
    margin: 0;padding: 0;
}
body{
    background-image: url('./Background.svg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: rgb(255, 255, 255);
}
.first{
    margin-top: 30%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 30px;
    font-family: 'Great Vibes', cursive;
}
