*{
    margin: 0;padding: 0;
}
body{
    background-image: url('./Background.svg');
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    background-color: rgb(255, 255, 255);
}
.first{
    margin: 250px;
    font-size: 40px;
    font-family: 'Great Vibes', cursive;
}